{% extends 'base.html'%}

{% block content %}

{% load static %}

  {% for post in posts %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ post.image.url }}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <a href="{{ post.get_absolute_url }}">
            <span class="section-heading-upper">{{ post.title }}</span>
            </a>
            <span class="section-heading-lower">{{ post.subtitle }}</span>
          </h2>
          <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{{ post.get_confirm_url }}" style="font-size:15px;"><b>Confirm</b></a>
          </div>
          <!-- <p class="mb-3">{{ post.content|safe }}
          </p> -->
        </div>
      </div>
    </div>
  </section>
  {% endfor %}

  <section class="page-section clearfix">
    <div class="container">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <div class="pagination">
              <span class="step-links">
                  {% if posts.has_previous %}
                      <b> <a href="?page=1">&laquo; First</a> </b>
                      <b> <a href="?page={{ posts.previous_page_number }}">Previous</a> </b>
                  {% endif %}

                  <span class="current">
                    <b> Page {{ posts.number }} of {{ posts.paginator.num_pages }} </b>
                  </span>

                  {% if posts.has_next %}
                      <b> <a href="?page={{ posts.next_page_number }}">Next</a> </b>
                      <b> <a href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a> </b>
                  {% endif %}
              </span>
            </div>
          </div>
    </div>
  </section>

  <!-- <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Delicious Treats, Good Eats</span>
              <span class="section-heading-lower">Bakery &amp; Kitchen</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/products-02.jpg' %}" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->

{% endblock %}