{% extends 'base.html'%}

{% block content %}

{% load static %}

  <section class="page-section about-heading">
    <div class="container">
      <p style="text-align:center;">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ post.image.url }}" alt="">
      </p>
      <div>
        &nbsp;
      </div>
      <div>
        &nbsp;
      </div>
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">{{ post.title }}</span>
                <span class="section-heading-lower">{{ post.subtitle }}</span>
              </h2>
              <p>{{ post.content|safe }}</p>
              <p style="text-align:right">Written by {{ post.user }}</p>

              {% if request.user == post.user or request.user.is_superuser %}
                  {% if not post.confirmed and request.user.is_superuser %}
                      <a href="{{ post.get_confirm_url }}" class="btn btn-warning ml-2" role="button" style="float: right;">Confirm</a>
                  {% endif %}
                  <a href="{{ post.get_update_url }}" class="btn btn-success ml-2" role="button" style="float: right;">Update</a>
                  <a href="{{ post.get_delete_url }}" class="btn btn-danger ml-2" role="button" style="float: right;">Delete</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}