{% extends 'base.html'%}

{% block content %}

{% load static %}

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/flutter.png' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Why Flutter?</span>
          </h2>
          <p class="mb-3">Flutter is faster than many other application development frameworks. With its “hot reload” feature, you can experiment, build UIs, add/remove features, test and fix bugs faster. Thus reducing the overall app development time.
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
